<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head") %>
  <body>
    <%- include("partials/navbar") %>
    <form action="/edit?id=<%= car.id %>" method="POST" class="add-form">
      <h2>Edit Car</h2>
      <label for="brand">Brand</label>
      <input
        type="text"
        id="brand"
        name="brand"
        required
        value="<%= car.brand %>"
      />

      <label for="model">Model</label>
      <input
        type="text"
        id="model"
        name="model"
        required
        value="<%= car.model %>"
      />

      <label for="price">Price</label>
      <input
        type="number"
        id="price"
        name="price"
        required
        value="<%= car.price %>"
      />

      <label for="imageurl">Image URL</label>
      <input
        type="text"
        id="imageurl"
        name="imageurl"
        required
        value="<%= car.imageurl %>"
      />

      <label for="description">Description</label>
      <textarea type="text" id="description" name="description" required>
      <%= car.description %>
      </textarea>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
