<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head") %>
  <body>
    <%- include("partials/navbar") %>
    <main>
      <section class="buyers">
        <h2>Orders</h2>
        <ul class="buyers-list">
          <% data.forEach(element => { %>
          <li class="grid-item-list" id="<%= element.id %>">
            <span class="fullName"
              ><%= element.firstname %> <%= element.lastname %></span
            >
            <span class="address"><%= element.address %></span>
            <span><%= element.country %></span>
            <span><%= element.brand %> <%= element.model %></span>
            <span><%= element.price %>$</span>
            <form action="/delete_buyer/<%= element.id %>" method="POST">
              <button type="submit" class="delete-button">Delete</button>
            </form>
          </li>
          <% }); %>
        </ul>
      </section>
      <section class="most-bought-cars">
        <h2>Top 3 Most Bought Cars</h2>
        <ul class="bought-cars">
          <% bestCars.forEach(element => { %>
          <li>
            <img
              src="<%= element.imageurl %>"
              alt="<%= element.brand %> <%= element.model %>"
            />
            <p><%= element.brand %> <%= element.model %></p>
            <p>Bought: <%= element.count %></p>
          </li>
          <% }); %>
        </ul>
      </section>
    </main>
    <%- include("partials/footer") %>
  </body>
</html>
